doctype html
html
  head
    title='Main page'
  body
    include ./header.jade
    p.greetings#people Hello World!
    img(src='/images/webrtc-icon-192x192.png', alt='Testing Image')
    include ./footer.jade
